// @import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Semi+Expanded:wght@300;400;600;800&display=swap');

$font-stack-special: 'Encode Sans', sans-serif;
$font-stack:          Roboto, sans-serif;    
$primary-color:       #BA0D3E;
$secondary-color:     #FDF7F9;
$grey-color:          #A5A4AB;  

@use "sidebar";
@use "homePage";
@use "footer";
@use "favouriteList";
@use "popularPage";
@use "trendingPage";

body {
  font: 100% $font-stack;
  color: black;
  margin: 0;
  padding: 0;
  min-width: 400px;
}

.columns {
  .is-12 {
    width: 10%;
  }

  .is-11 {
    width: 11%
  }

  .is-10 {
    width: 12%;
  }

  .is-9 {
    width: 13%;
  }
  
  .is-8 {
    width: 13%;
  }

  .is-7 {
    width: 13%;
  }

  .is-6 {
    width: 13%;
  }

  .is-5 {
    width: 25%;
  }

  .is-4 {
    width: 30%;
  }

  .is-3 {
    width: 40%;
  }

  .is-2 {
    width: 50%;
  }

  .is-1 {
    width: 100%;
  }
}

